* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  font-family: "Audiowide", cursive;
}
h1 {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}
#top-div {
  height: 150px;
}
#top-image {
  height: 100%;
  width: 100%;
}
#section-nav {
  height: 100%;
  width: 100%;
}
.navbar-brand {
  font-size: 2rem;
}
.navbar {
  background: transparent !important;
  font-size: 2rem;
}
.game-top-container {
  margin-top: 50px;
}

.start-button {
  font-size: 2rem;
  margin-top: 10vh;
  min-height: 10vh;
  width: 300px;
}

.game-title {
  font-size: 3rem;
}
.score {
  font-size: 4rem;
  margin: 5vh 0;
}

#nav-rps {
  background-image: url(images/background-rps.jpg);
  background-size: cover;
  background-position: center;
}
/* Rock Papper Scissor */
#section-rps {
  min-height: 100vh;
  color: #a084e8;
}

.player {
  font-size: 3rem;
  margin-bottom: 100px;
}
.rps {
  font-size: 8rem;
  margin: 0 100px;
}
/* Dice Section  */
#section-dice {
  background-image: url(images/coin-background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #06ff00;
}
.img1-dice,
.img2-dice {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 0 5vw;
}

/* Coin Section  */
#coin-footer {
  background-image: url(images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
#section-coin {
  min-height: 100vh;
  color: #f8de22;
}
/* footer */
footer {
  background: transparent !important;
}

/* Coin animation  */

#coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
}
.side-a {
  background-color: #f11a7b;
}
.side-a > p {
  font-size: 2rem;
}
.side-b {
  background-color: #a076f9;
}
.side-b > p {
  font-size: 2rem;
}

#coin {
  transition: transform 1s ease-in;
  transform-style: preserve-3d;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  height: 400px;
  width: 400px;
}
#coin div {
  position: absolute;
  backface-visibility: hidden;
}
.side-a {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-b {
  transform: rotateY(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#coin.heads {
  animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
  -o-animation: flipHeads 3s ease-out forwards;
  animation: flipHeads 3s ease-out forwards;
}
#coin.tails {
  animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0);
    transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1800deg);
    transform: rotateY(1800deg);
    transform: rotateY(1800deg);
  }
}
@keyframes flipTails {
  from {
    transform: rotateY(0);
    transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1980deg);
    transform: rotateY(1980deg);
    transform: rotateY(1980deg);
  }
}

@media (max-width: 769px) {
  .start-button {
    font-size: 1.5rem;
    width: 250px;
  }
  .game-title {
    font-size: 2rem;
  }
  .score {
    font-size: 3rem;
    margin: 5vh 0;
  }
  .game-top-container {
    margin-top: 10px;
  }
  .rps {
    font-size: 6rem;
    margin: 0 50px;
  }
  .img1-dice,
  .img2-dice {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 5vw;
  }
  .player {
    font-size: 2rem;
    margin-bottom: 100px;
  }
  .side-a > p {
    font-size: 1.5rem;
  }
  .side-b > p {
    font-size: 1.5rem;
  }
}

/*  I want a media query for screen smaller than 425px */
@media (max-width: 426px) {
  .start-button {
    font-size: 1rem;
    width: 200px;
  }
  .game-title {
    font-size: 1.5rem;
  }
  .score {
    font-size: 2rem;
    margin: 5vh 0;
  }
  .rps {
    font-size: 3rem;
  }
  .img1-dice,
  .img2-dice {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 5vw;
  }
  .player {
    font-size: 1.5rem;
    margin: 40px 0;
  }
  .side-a > p {
    font-size: 1rem;
  }
  .side-b > p {
    font-size: 1rem;
  }
  #coin {
    height: 300px;
    width: 300px;
    margin-left: 55px;
  }
  #start-button-coin-head {
    width: 150px;
    margin-left: 35px;
  }
  #start-button-coin-tail {
    width: 150px;
    margin-right: 0px;
  }
  .game-top-container {
    margin-top: 10px;
  }
  #button-copin-container {
    margin-left: 6px;
  }
}

@media (max-width: 376px) {
  #coin {
    height: 250px;
    width: 250px;
  }
  #start-button-coin-head {
    width: 150px;
    margin-left: 0px;
  }
  #start-button-coin-tail {
    width: 150px;
    margin-right: 0px;
  }
  #button-copin-container {
    margin-left: 4px;
  }

  .score {
    margin: 0;
  }

  .player {
    margin: 18px;
  }
}
