/* Step 1: create the main board */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Audiowide", cursive;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 50px;
  color: rgb(255, 0, 0);
  font-family: "Press Start 2P", cursive;
}

h2 {
  font-size: 3rem;
  color: rgb(255, 251, 13);
}

main {
  background-image: url("../images/tictac.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  min-width: 100%;
}

.navbar {
  background: transparent !important;
  font-size: 2rem;
  z-index: 1;
}

.nav-link {
  color: #ff0707 !important;
}

.navbar-brand {
  font-size: 3rem;
  background: linear-gradient(to right, #ff0707, #ffc803);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  background: transparent !important;
}

#title-section {
  margin-top: 0px;
}

.score {
  margin-top: 0px;
}

#game {
  margin-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  background: transparent !important;
}

.grid-cell {
  border: 1px solid #ffffff;
  width: 200px;
  height: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background: transparent !important;
}

/* Step 2: remove unnecessary border on the sides */
.grid-cell:nth-child(-n + 3) {
  border-top: none;
}

.grid-cell:nth-child(3n + 1) {
  border-left: none;
}

.grid-cell:nth-child(3n + 3) {
  border-right: none;
}

.grid-cell:nth-last-of-type(-n + 3) {
  border-bottom: none;
}

/* Step 3: when class changes to x or o, emoji will show */
.x::after {
  content: "❌";
}

.o::after {
  content: "⭕";
}

/* Step 4: indicate already filled div */
.disabled {
  cursor: not-allowed;
}

.grid-cell:not(.disabled):hover {
  background: #eee;
}

/* Step 5: styling game over text */
.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 0, 0);
}

.restart {
  font-size: 2rem;
  width: 200px;
  height: 100px;
  position: absolute;
  top: calc(50% + 200px);
  left: 50%;
  transform: translateX(-50%);
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

footer {
  background: transparent !important;
}

@media (max-width: 1025px) {
  .grid-cell {
    border: 1px solid #ffffff;
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background: transparent !important;
  }
}

@media (max-width: 769px) {
  .grid-cell {
    border: 1px solid #ffffff;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background: transparent !important;
  }
}

@media (max-width: 426px) {
  main {
    background-image: url("../images/tictac.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    width: 100%;
  }

  .grid-cell {
    border: 1px solid #ffffff;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background: transparent !important;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .game-over-text {
    font-size: 3rem;
    margin-top: 20px;
  }

  .restart {
    font-size: 1.5rem;
    width: 150px;
    height: 80px;
  }
}
